<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <!-- Bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<!-- Jumbotron header -->
<div class="jumbotron jumbotron-fluid" style="background-color: rgb(7, 96, 128); color: white;">
    <div class="container" style="display: block; height: 50px;">
      <h2 class="display-3" style="text-align: center;">My Team</h2>
    </div>
</div>

<!-- div with placeholder for formatted team info  -->
<div class="container">
    <span style="text-align: center;">
        <!-- <h1 placeholder="{{ team }}"></h1> -->
        <h1>{{ team }}</h1>
        <!-- <input type="text" placeholder="{{ team }}"> -->
    </span>

</div>
    
</body>
</html>